"""
Для мониторинга используются удаленные серверы.
Имя пользователя на хостах одинаковое. При добавлении нового сервера в мониторинг требуется вписать его
в соответствующий список.
"""

# Имя пользователя
USER = 'username'

# Список хостов
HOSTS = ['host1',
         'host2',
         'host3',
         'host4'
         ]
